* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


// Task 1
// #container {
//     margin-top: 20px;
// }

// .counter {
//     display: flex;
//     align-items: center;
//     margin-bottom: 10px;
// }

// .counter button {
//     margin: 0 5px;
// }
// Task 1 END

:root{
    --background: #000430
    --secondaryBackground: #171c48
    --text: #fff;
    --purple: #828dff;
    --teal: #24feee;
}
body{
    background-color: var(--background);
    color: var(--text);
}
.container{
    display: flex;
    align-items: center;
    
}